.support {
  width: 100%;
  height: 455px;
  background: linear-gradient(
    0deg,
    rgba(224, 224, 224, 0.47) 0%,
    rgba(225, 225, 225, 0.16) 20.75%,
    rgba(255, 254, 254, 0.26) 84.14%,
    #ffffff 126.52%
  );
  font-family: "Roboto";
}
.support .Supportcontainer {
  width: calc(100% - 220px);
  margin: 0 auto;
}

.support .Supportcontainer header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.support .Supportcontainer header .supportIcon {
  width: 36px;
  height: 36px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.support .Supportcontainer header .supportIcon:hover {
  filter: brightness(1.1);
  transform: scale(1.1);
}

.support .Supportcontainer header .first {
  display: flex;
  align-items: center;
}

.support .Supportcontainer header .first a {
  margin-right: 15px;
}

.support .Supportcontainer header .first .supportTexth2 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.support .Supportcontainer header .first .supportTexth2 h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #5f5f5f;
}

.support .Supportcontainer header .second {
}
.support .Supportcontainer header .second a {
  margin-right: 10px;
}

.support .Supportcontainer .SupportContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.support .Supportcontainer .SupportContent .head {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 15px;
}
.support .Supportcontainer .SupportContent .one .rows {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.support .Supportcontainer .SupportContent .one .rows a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  width: 183px;
  margin-bottom: 5px;
}

.support .Supportcontainer .SupportContent .one .rows a:hover {
  text-decoration: underline;
}

.support .Supportcontainer .SupportContent .one .rows .specific {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 0px;
}

.support .Supportcontainer .SupportContent .one .rows .rowsA {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.support .Supportcontainer .SupportContent .one .rows .rowsB {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.support .Supportcontainer .SupportContent .two p {
  width: 249px;
  margin-bottom: 5.27px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: #000000;
}
.support .Supportcontainer .SupportContent .two h5 {
  width: 249px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #000000;
}

.support .Supportcontainer .SupportContent .three .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  margin-bottom: 30px;
}
.support .Supportcontainer .SupportContent .three .cards img {
  cursor: pointer;
  transition: 0.2s ease-in;
}

.support .Supportcontainer .SupportContent .three .cards img:hover {
  filter: brightness(1.2);
  transform: scale(1.1);
}

.support .Supportcontainer .SupportContent .three .sponsores {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.support .Supportcontainer .SupportContent .one .rows a:first-child {
  display: none;
}

.support .Supportcontainer .SupportContent .one .rows .specific2 {
  display: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 0px;
}

.threeSecond {
  display: none;
}

@media (max-width: 1182px) {
  .support .Supportcontainer {
    width: calc(100% - 100px);
  }
}

@media (max-width: 1024px) {
  .support .Supportcontainer header .second {
    display: none;
  }
}
@media (max-width: 734px) {
  .support .Supportcontainer .SupportContent .one .rows a:first-child {
    display: block;
  }

  .support .Supportcontainer .SupportContent .one .rows a {
    font-size: 14px;
  }

  .support .Supportcontainer {
    width: 90%;
  }

  .support .Supportcontainer .SupportContent .one .rows .respoRows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .support .Supportcontainer .SupportContent .one .rows .specific {
    display: none;
  }
  .support .Supportcontainer .SupportContent .one .rows .specific2 {
    display: block;
  }

  .support .Supportcontainer .SupportContent {
    flex-direction: column;
    align-items: center;
  }

  .support .Supportcontainer .SupportContent .one {
    width: 100%;
  }
  .support .Supportcontainer .SupportContent .two {
    width: 100%;
    margin-top: 20px;
  }
  .support .Supportcontainer .SupportContent .three {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    margin-top: 20px;
  }

  .support .Supportcontainer .SupportContent .two p {
    width: 100%;
  }

  .support .Supportcontainer .SupportContent .two h5 {
    width: 100%;
  }

  .threeSecond {
    display: block;

    display: flex;
    align-items: center;
    margin-top: 12px;
  }

  .threeSecond img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  .threeSecond a {
    margin-right: 10px;
  }
}
